@import "main.css";

footer
{
display: flex;
align-items: center;
justify-content: center;
}

.footer-img {
    max-width: 50px;
    margin: 5px;
}

.footer-img a img{
    max-width: 100%;
}


/* ESCRITORIO */

@media screen and (min-width: 720px) 
{

    .footer-img a img:hover
    {
        transition: all .2s linear;
        max-width: 120%;
    }

}