:root{

    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    --primary-color: #69ffeb;
    --secondary-color: #002848;
    --text-color: #333;
    --background-color: #ddd;
    
}

footer
{
display: flex;
align-items: center;
justify-content: center;
}

.footer-img {
    max-width: 50px;
    margin: 5px;
}

.footer-img a img{
    max-width: 100%;
}