@import "main.css";

/* MENU SUPERIOR Y NAVBAR */

.respmenu lu
{
    list-style-type: none;
}



.respmenu .navlinks 
{
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    max-width: 200px;
}


.respmenu input[type="checkbox"], .respmenu .menu div .burguer-icon, .respmenu .menu div .x-icon 
{
    position: sticky;
    margin: 10px;
    padding: 0;
    right: 0;
    top: 0;
    max-width: 48px;
    max-height: 48px;
}

  
.respmenu input[type="checkbox"] 
{
    display: none;
}
  
.respmenu 
{
    color: white;
    position: sticky;
    background: var(--secondary-color);
    min-height: 48px;
    top: 0px;
}

.respmenu div img{
    max-height: 48px;
    margin: 10px;
}
  
.respmenu .menu nav 
{
    display: none;
}
  
.respmenu input:checked ~ nav

{
    background-color: var(--secondary-color);
    position: sticky;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: left;
}


  
.respmenu input:checked ~ .burguer-icon 
{
    display: none;
}
  
.respmenu input:not(:checked) ~ .x-icon 
{
    display: none;
}


/* TABLET SCREEN */

@media screen and (min-width: 500px) 
{
  

}


/* DESKTOP SCREEN */
@media screen and (min-width: 720px) 
{
  nav .navlinks:hover
  {
    transition: all .2s linear;
    color: green;
  }  

  .burguer-icon
  {
    display: none;
  }

  .x-icon
  {
    display: none;
  }
  
  .respmenu .menu nav lu
  {
    display: flex;
  }
  
  .respmenu .menu nav 
  {
    background-color: var(--secondary-color);
    padding: 12px;
    position: sticky;
    display: flex;
    align-items: center;
  }


}